<h1 class="has-text-centered">Your Orders</h1>

<div class="columns">
  <ng-container *ngIf="cartOrders.length">
    <div class="column">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th colspan="4">Order Total: {{ cartOrders.length }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of cartOrders; let i = index">
            <td >
              <a [routerLink]="['/orders', order.id]">
                <h2>
                  <strong>Order ID #{{ order.id }}</strong>
                </h2>
              </a>
            </td>
            <td>
              <div>
                {{ order.total | currency }}
              </div>
            </td>
            <td>
              <div>
                {{ getStatus(order) }}
              </div>
            </td>
            <td>
              <div>
                <span class="icon has-text-danger pointer" title="Edit" *ngIf="order.is_approved === 0 && order.status === 1 && !isAdmin" (click)="removeCartorder(order)">
                  <i class="fas fa-edit"></i>
                </span>
                <span class="icon has-text-danger pointer" title="Approve" *ngIf="order.is_approved === 0 && order.status === 1 && isAdmin" (click)="onApprove(order)">
                  <i class="fas fa-check"></i>
                </span>
                <span class="icon has-text-danger pointer" title="Remove" *ngIf="order.is_approved === 0 && order.status === 1 && !isAdmin" (click)="onRemove(order)">
                  <i class="fas fa-trash-alt"></i>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <div class="column" *ngIf="!cartOrders.length">
    <h2 class="has-text-centered">You Orders is Empty</h2>

    <!-- <p class="has-text-centered">Buy some <a class="has-text-danger" routerLink="/orders" style="cursor: pointer">orders</a></p> -->
  </div>
</div>
