<h1 class="has-text-centered">Your Order Details Order #{{cartProducts.length}}</h1>
<h4 class="has-text-centered">Total price: {{ cartTotal | currency }}</h4>
<h4 class="has-text-centered">Status: {{ isApproved }}</h4>

<div class="columns">
  <ng-container *ngIf="cartProducts.length">
    <div class="column">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th colspan="3">Items total: {{ cartProducts.length }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartProducts; let i = index">
            <td class="cart-desc">
              <h2>
                <strong>{{ product.name }}</strong>
              </h2>
              <p>{{ product.description | truncate:200 }}</p>
            </td>
            <td>
              <div>
                {{product.qty}}
              </div>
            </td>
            <td>
              <div>
                {{ product.price | currency }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
