<h1 class="has-text-centered">Your Order Details Order #{{order?.id}}</h1>
<h4 class="has-text-centered">Total price: {{ order?.total | currency }}</h4>
<h4 class="has-text-centered">Status: {{ order?.is_approved === 1 ? 'Approved' : 'Not Approved' }}</h4>

<div routerLink="/orders" class="text-right"> <a> <i class="fas fa-long-arrow-alt-left"></i>Back to Orders</a></div>
<div class="columns">
  <ng-container *ngIf="cartProducts.length">
    <div class="column">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th colspan="5">Items total: {{ cartProducts.length }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartProducts; let i = index">
            <td class="cart-desc">
              <h2>
                <strong>{{ product.name }}</strong>
              </h2>
              <p>{{ product.description | truncate:200 }}</p>
            </td>
            <td>
              <div>
                {{product.quantity}}
              </div>
            </td>
            <td>
              <div>
                {{product.price | currency}}
              </div>
            </td>
            <td>
              <div>
                {{ product.subtotal | currency }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
